@model IEnumerable<FinalProject.Entities.Permission>

@{
    ViewData["Title"] = "Quản lý Quyền";
    var permission = (FinalProject.Entities.Permission)ViewBag.Permission;
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Feature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Access)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.New)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modify)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remove)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Role.RoleName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Feature.FeatureName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Access)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.New)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Modify)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remove)
                </td>
                <td>
                    @if (permission.Modify)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    @if (permission.Remove)
                    {
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
