@model IEnumerable<MyCodeDemo.ViewModels.HangHoaVM>
@{
    ViewData["Title"] = "Index";
}

<h1>Tìm kiếm</h1>
<form asp-action="Index">
    Cần tìm: <input name="Keyword" placeholder="Nhập từ khóa" />
    Giá từ: <input name="FromPrice" type="number" step="0.01" />
    đến: <input name="ToPrice" type="number" step="0.01" />
    <button class="btn btn-primary">Tìm</button>
</form>
<div>Trang: @ViewBag.CurrentPage/@ViewBag.TotalPage</div>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        @if (ViewBag.TotalPage != null)
        {
            for (var idx = 0; idx < (int)ViewBag.TotalPage; idx++)
            {
                var pageIndex = idx + 1;
                <li class="page-item @(ViewBag.CurrentPage == pageIndex ? "active": "")">
                    <a class="page-link" asp-action="Index" asp-route-page="@pageIndex">
                        @pageIndex
                    </a>
                </li>
            }
        }
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
<table class="table">
    <tbody>
        @foreach (var hh in Model)
        {
            <tr>
                <td>
                    <a asp-action="Detail" asp-controller="Product" asp-route-id="@hh.MaHh">@hh.TenHh</a>
                </td>
                <td>@hh.DonGia</td>
                <td>@(hh.GiamGia * 100) %</td>
                <td>@hh.GiaBan</td>
                <td>@hh.Loai</td>
                <td>@hh.NhaCungCap</td>
            </tr>
        }
    </tbody>
</table>