@model IEnumerable<MyCodeDemo.ViewModels.ThongKeLoai>
@using MyCodeDemo.Helpers
@{
    ViewData["Title"] = "ThongKe";
}

<h1>Thống kê</h1>
<form asp-action="ThongKe">
    Từ ngày: <input type="date" name="TuNgay" />
    đến ngày: <input type="date" name="DenNgay" />
    <button>Tra cứu</button>
</form>
<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenLoai</td>
                <td>@item.DoanhThu.ToVnd()</td>
                <td>@item.SoLuongHangHoa</td>
                <td>@item.GiaTB.ToVnd()</td>
                <td>@item.GiaTN.ToVnd()</td>
                <td>@item.GiaCN.ToVnd()</td>
            </tr>
        }
    </tbody>
</table>
<canvas id="myChart"></canvas>
@{ 
    var dsLoai = Model.Select(p => p.TenLoai).ToList();
    var dsDoanhThu = Model.Select(p => p.DoanhThu).ToList();
    var chuoiLoai = "['" + string.Join("', '", dsLoai) + "']";
    var chuoiDanhThu = "[" + string.Join(", ", dsDoanhThu) + "]";
}
@section Scripts{
    <!--Chart.js JS CDN-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js"></script>
    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                //labels: ["Accepted", "Pending", "Rejected"],
                labels: @Html.Raw(chuoiLoai),
                datasets: [{
                    //data: [70, 10, 6],
                    data: @Html.Raw(chuoiDanhThu),
                    borderColor: [
                        "#3cba9f",
                        "#ffa500",
                        "#c45850",
                    ],
                    backgroundColor: [
                        "rgb(60,186,159,0.1)",
                        "rgb(255,165,0,0.1)",
                        "rgb(196,88,80,0.1)",
                    ],
                    borderWidth: 2,
                }]
            },
            options: {
                scales: {
                    xAxes: [{
                        display: false,
                    }],
                    yAxes: [{
                        display: false,
                    }],
                }
            },
        });

    </script>
}